.login-container {
  @apply pb-10;
  max-width: 500px;
  min-height: 500px;
}

.login-form {
  @apply flex flex-col h-auto space-y-4 px-20 sm:px-10;
}

.submit-button {
  @apply h-14;
  font-size: 20px;
  color: white;
}

.login-form-field {
  color: black;
}
