.login-container {
  @apply relative pb-10 mx-auto text-center md:w-full text-gray-300 border shadow-md rounded-lg;
  max-width: 500px;
  min-height: 500px;
}

.authorizing-container {
  @apply relative pb-10 mx-auto text-center md:w-full border shadow-md rounded-lg;
  max-width: 500px;
  min-height: 500px;
}

.login-form {
  @apply flex flex-col h-auto space-y-4 px-20 sm:px-10;
}

.submit-button {
  @apply h-14;
  font-size: 20px;
  color: white;
}

.login-form-field {
  color: black;
}

@screen sm {
  #authorizing-text {
    font-size: 32px;
  }
}
