.reauth-container {
  @apply pb-10 py-10;
  top: 10%;
  max-width: 500px;
  min-height: 300px;
}

.reauth-form {
  @apply flex flex-col h-auto space-y-4 px-20 sm:px-10;
}

.submit-button {
  @apply h-14;
  font-size: 20px;
  color: white;
}

.reauth-form-field {
  color: black;
}
