<div *ngIf="commentsList.length > 0; else noComments">
  <div *ngFor="let comment of commentsList; let i = index" class="text-left text-black shadow-md border rounded-lg mb-5">
    <div class="p-3">
      <div class="flex flex-row">
        <h2 class="inline flex-grow leading-5 text-xl font-bold mb-3">{{comment.claim}}</h2>
        <div>
          <!-- Like button -->
          <ng-container *ngIf="this.accountService.isLoggedInAndVerified | async">
            <button class="text-2xl text-white text-green-500" (click)="likeComment(i)">
              <i *ngIf="this.commentsList[i].likeStatus <= 0; else alreadyLiked" class="far fa-thumbs-up"></i>
              <ng-template #alreadyLiked>
                <i class="fa fa-thumbs-up"></i>
              </ng-template>
            </button>
          </ng-container>

          <span class="rounded-full p-2 text-md font-bold text-white bg-green-500 mx-3"
                [class.bg-gray-400]="comment.likes === 0" [class.bg-green-500]="comment.likes > 0" [class.bg-red-500]="comment.likes < 0">
            {{formatLikes(comment.likes)}}
          </span>

          <!-- Dislike button -->
          <ng-container *ngIf="this.accountService.isLoggedInAndVerified | async">
            <button class="text-2xl text-white text-red-500" (click)="dislikeComment(i)">
              <i *ngIf="this.commentsList[i].likeStatus >= 0; else alreadyDisliked" class="far fa-thumbs-down"></i>
              <ng-template #alreadyDisliked>
                <i class="fa fa-thumbs-down"></i>
              </ng-template>
            </button>
          </ng-container>
        </div>
      </div>

      <h4>By <span class="font-bold text-blue-500">{{comment.authorName}}</span></h4>
      <h4>{{comment.createdAt | date: 'medium'}}</h4>
      <h4 [ngSwitch]="comment.reproducible">
        Reproducible:
        <span *ngSwitchCase="0" class="text-red-500 font-bold">NO</span>
        <span *ngSwitchCase="1" class="text-yellow-500 font-bold">PARTIALLY</span>
        <span *ngSwitchCase="2" class="text-green-500 font-bold">YES</span>
      </h4>
      <h4>
        Proof:
        <span *ngIf="comment.proofSourceCodeUrl || comment.proofDatasetUrl; else noProof">
          <a *ngIf="comment.proofSourceCodeUrl" class="text-blue-500 underline" href="{{comment.proofSourceCodeUrl}}" target="_blank">Source Code</a>
          <span *ngIf="comment.proofSourceCodeUrl && comment.proofDatasetUrl"> | </span>
          <a *ngIf="comment.proofDatasetUrl" class="text-blue-500 underline" href="{{comment.proofDatasetUrl}}" target="_blank">Dataset</a>
        </span>
        <ng-template #noProof>
          <span class="font-bold">N/A</span>
        </ng-template>
      </h4>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Experiments and Results
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{comment.results}}</p>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<ng-template #noComments>
  <h3 class="text-gray-500">No Comments</h3>
</ng-template>
