<div class="body-container">
  <div *ngIf="this.etdDetails != undefined" class="etd-details-container">
    <h2 class="font-bold">{{this.etdDetails.title}}</h2>
    <div class="flex flex-row content-between">
      <h3 class="text-green-500 flex-grow">{{this.etdDetails.publisher}} <span class="text-gray-400"> | </span> {{this.etdDetails.type}} <span class="text-gray-400"> | </span>
        <span class="text-blue-600">{{this.etdDetails.date_issued | date}}</span>
      </h3>
      <button mat-stroked-button color="warn" class="ml-1" (click)="downloadPdf()"><i class="fas fa-file-pdf mr-2"></i>PDF</button>
    </div>
    <h4 class="text-gray-500">{{this.etdDetails.contributor_author}}</h4>
    <br>
    <p class="text-justify">{{this.etdDetails.description_abstract}}</p>
  </div>
</div>
