<nav class="navbar fixed top-0 w-full h-auto shadow-lg bg-white border-b px-5 py-3 sm:px-2 sm:py-2 z-40">
  <div class="navbar-container flex flex-row justify-between">
    <!-- Logo -->
    <a class="sm:hidden logo self-center" routerLink="/search">
      <span class="text-blue-600">re</span><span class="text-green-500">Search</span>
    </a>
    <a class="sm:block hidden logo self-center self-start" routerLink="/search">
      <span class="text-blue-600">r</span><span class="text-green-500">S</span>
    </a>

    <!-- Search bar -->
    <app-navbar-search></app-navbar-search>

    <!-- Profile widget -->
    <app-profile-widget *ngIf="isLoggedInAndVerified; else loginButton;" class="relative z-50"></app-profile-widget>

    <!-- Login button -->
    <ng-template #loginButton>
      <button *ngIf="!isLoggedInAndVerified && !atLoginRoute()"
              class="rounded-full text-white text-sm font-bold bg-green-500 sm:px-3 px-6 py-1 hover:bg-green-600 transition-colors shadow-md z-50"
              (click)="navigateToLogin()">
        Login
      </button>
    </ng-template>
  </div>
</nav>
