<nav class="navbar fixed top-0 w-full h-auto shadow-lg bg-white border-b px-5 py-3 sm:px-2 sm:py-2 z-40">
  <div class="navbar-container flex flex-row justify-between">
    <!-- Logo -->
    <h3 class="sm:hidden logo self-center">
      <span class="text-blue-600">re</span><span class="text-green-500">Search</span>
    </h3>
    <h3 class="sm:block hidden logo self-center self-start">
      <span class="text-blue-600">r</span><span class="text-green-500">S</span>
    </h3>

    <!-- Search bar -->
    <app-navbar-search></app-navbar-search>

    <!-- Profile widget -->
    <app-profile-widget class="relative z-50"></app-profile-widget>
  </div>
</nav>
