<div class="body-container">
  <div class="relative reset-password-container mx-auto text-center md:w-full text-gray-300 border shadow-md rounded-lg">
    <h2 class="text-2xl text-green-500 mb-2">
      Reset password
    </h2>
    <h4 class="text-black mb-5">
      Please enter your email:
    </h4>
    <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="sendPasswordResetEmail()">
      <mat-form-field class="reset-password-form-field">
        <mat-label>Email</mat-label>
        <input matInput form formControlName="email" class="reset-password-form-input">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>.
        </mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" class="submit-button" [disabled]="!resetPasswordForm.valid">Submit</button>
    </form>
    <hr class="my-5">
    <button mat-stroked-button color="primary" routerLink="/login">Back to Login</button>
  </div>
</div>
