<!-- Login/Signup buttons -->
<!--
<div class="fixed top-0 right-0 mr-5 mt-5 text-white font-bold z-50">
  <button class="rounded-l-full bg-green-500 px-6 py-2 hover:bg-green-600 transition-colors shadow-md">Login</button>
  <button class="rounded-r-full bg-blue-600 px-4 py-2 hover:bg-blue-700 transition-colors shadow-md">Register</button>
</div>
-->

<!-- Profile widget -->
<!--
<div class="fixed top-0 right-0 mr-5 mt-5 z-50">
  <app-profile-widget></app-profile-widget>
</div>
-->

<!-- Search form -->
<div class="body-container">
  <div class="search-container relative text-center md:w-full z-0">
    <form [formGroup]="searchForm" (ngSubmit)="performSearch()">
      <h1>
        <span class="text-blue-600">re</span><span class="text-green-500">Search</span>
      </h1>
      <h4 class="-m-2 mb-10">The modern and fast scholarly document search engine.</h4>

      <div class="search-box flex mx-auto">
        <i class="fas fa-search self-center pr-4 text-green-500 flex-none"></i>
        <input class="outline-none search-bar flex-grow min-w-0 rounded-3xl" formControlName="searchText" type="search"
               placeholder="Search for scholarly documents...">
        <button *ngIf="!searchQueryEmpty()" class="search-button">
          <i class="fas fa-long-arrow-alt-right search-button-icon"></i>
        </button>
      </div>
    </form>
    <button *ngIf="browserInfoService.onChrome || browserInfoService.onEdge" class="text-xl mt-2 mb-3 focus:outline-none" (click)="openSpeechRecognitionDialog()"><i class="fas fa-microphone"></i></button>
    <br>
    <button mat-button color="accent" class="mx-auto" (click)="openAdvancedSearchDialog()">Advanced Search</button>
  </div>
</div>
