.search-container {
  top: 20%;
}

.search-box {
  @apply border-2 shadow-xl px-8 sm:px-4 outline-none transition-all;
  height: 80px;
  width: 750px;
  font-size: 28px;
  border-radius: 40px;
}

.search-box:focus-within {
  @apply border-green-500 md:w-full;
  height: 90px;
}

@screen md {
  .search-box {
    width: 100%;
    font-size: 20px;
  }
  .search-box:focus-within {
    height: 80px;
  }
  h1 {
    font-size: 4em;
  }
  .search-bar::placeholder {
    font-size: 20px;
  }
}
