<div class="profile-widget">
  <button class="text-xl sm:text-sm text-white rounded-full bg-red-400 hover:bg-red-500 transition-colors shadow h-10 w-10 sm:h-8 sm:w-8 p-1 flex items-center justify-center" (click)="toggleProfileMenu()">
    AA
  </button>
  <div class="absolute right-0 border w-40 shadow-lg mt-2 text-md bg-white" [class.invisible]="profileMenuHidden">
    <div class="m-3 flex flex-col space-y-2">
      <span>
        <i class="fas fa-user"></i>
        <a href="#" class="ml-1">My Account</a>
      </span>
      <span>
        <i class="fas fa-star"></i>
        <a href="#" class="ml-1">Saved Articles</a>
      </span>
    </div>
    <button class="w-full self-end bg-red-500 hover:bg-red-700 mt-5 text-lg py-1 text-white" (click)="logout()">Logout</button>
  </div>
</div>
